/* styles.css */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00704a; /* 스타벅스와 유사한 녹색 */
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.logo {
    width: 1500px; /* 로고의 크기를 조정합니다. */
    height: auto;
    /* margin-bottom: 20px; */
}

.company-name {
    font-size: 60px; /* 상호의 폰트 크기를 조정합니다. */
    color:#ffffff;
    /* margin-bottom: 10px; */
}

.preparing {
    font-family: 'Brush Script MT', cursive;
    font-size: 35px; /* 문구의 폰트 크기를 조정합니다. */
    color: #ffffff; /* 흰색 글씨 */
    margin: 0;
}